@namespace xlink "http://www.w3.org/1999/xlink";

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

/*************************************/
/*	ЭЛЕМЕНТЫ УПРАВЛЕНИЯ
/*************************************/

input,
button,
select,
.радио-значок,
.флажок-значок
{
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	color: #111;
	height: 3.217ex;
}
input[type="color"],
button
{
	border-radius: .25em;
	padding: 0 .5em;
	background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 95%) 40%, hsl(0, 0%, 88%) 60%, hsl(0, 0%, 70%));
}
button[data-меню-переключить]
{
	position: relative;
	padding-right: 1.6em;
}
button[data-меню-переключить]::after
{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: .0625rem;
	bottom: .0625rem;
	/* background-size: auto, см. комментарий в player.svg */
	background: url("player.svg#menu") right no-repeat;
}
input[type="color"]:enabled:active,
button:enabled:active
{
	background: linear-gradient(to bottom, hsl(0, 0%, 70%), hsl(0, 0%, 85%) 40%, hsl(0, 0%, 90%));
}
input[type="color"]
{
	/* HACK Firefox 58, Chrome 65: Не увеличивать высоту сверх указанной */
	display: block;
	/* HACK Chrome 64 игнорирует вертикальное поле */
	padding: 0 3px;
}
input[type="color"]:disabled,
input[type="range"]:disabled,
button:disabled,
select:empty
{
	opacity: .4;
}
input[type="text"],
select
{
	padding: 0 .5em;
	background: #fff;
}
input[type="text"]:disabled,
select:disabled
{
	color: hsl(0, 0%, 40%);
	background: hsl(0, 0%, 95%);
}
select
{
	/* Не меняем background-color */
	/* background-size: auto, см. комментарий в player.svg */
	background-image: url("player.svg#select");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.6em;
}
.радио-метка + .радио-метка
{
	margin-left: 1em;
}
.радио-значок,
.флажок-значок
{
	display: inline-block;
	width: 1.4167em;
	height: 1.4167em;
	vertical-align: middle;
	/* background-size: auto, см. комментарий в player.svg */
	background: url("player.svg#radio0") center no-repeat;
}
.флажок-значок
{
	background-image: url("player.svg#checkbox0");
}
input:checked + .радио-значок
{
	background-image: url("player.svg#radio1");
}
input:checked + .флажок-значок
{
	background-image: url("player.svg#checkbox1");
}
.радио-текст
{
	margin-left: .25em;
	vertical-align: middle;
}

/*************************************/
/*	М_МЕНЮ
/*************************************/

.меню
{
	/* Chrome 49: Элемент flexbox с position: absolute занимает место */
	position: fixed;
	z-index: 100;
	border: .0625rem solid #979797;
	padding: .125rem;
	background: #f0f0f0;
	box-shadow: inset 0 0 .125rem .0625rem #fff, 0 .125rem .1875rem rgba(0, 0, 0, .3);
	cursor: default;
	/* Firefox 59: Изменить свойство, влияющее на размер элемента, чтобы анимация не мешала обновлять форму курсора и выделять пункт меню под курсором */
	max-width: 100500px;
	display: none;
}
.меню-пункт
{
	display: flex;
	justify-content: space-between;
	margin: 0;
	border: .0625rem solid transparent;
	padding: .125rem .75rem;
	font-weight: normal;
	text-shadow: none;
	text-decoration: none;
	color: #222;
	-webkit-user-select: none;
	user-select: none;
}
.меню-пункт:hover
{
	border-color: #aecff7;
	border-radius: .125rem;
	background: linear-gradient(to bottom, #f2f9ff, #d6eaf9);
	box-shadow: inset 0 0 .0625rem .0625rem rgba(255, 255, 255, .4);
	/* Для ссылок */
	color: #222;
}
.меню-пункт[tabindex="-1"]
{
	color: #888;
	pointer-events: none;
}
.меню-текст
{
	/* Помогаем JavaScript определить щелчок по пункту меню */
	pointer-events: none;
}
.меню-клавиши
{
	/* Помогаем JavaScript определить щелчок по пункту меню */
	pointer-events: none;
	margin-left: 1.5em;
	color: #777;
}
.меню-разделитель
{
	margin: .1875rem 0;
	/* Chrome 66, Edge 16: С определенными дробными значениями rem один из бордюров исчезает или между верхним и нижнем бордюром появляется пустой пиксель */
	border: 0;
	border-top: 1px solid #e0e0e0;
	padding: 0;
	height: 2px;
	background: #fff;
}
.менюоткрыто
{
	max-width: 100501px;
	display: block;
	-webkit-animation: fadeIn .3s ease-out;
	animation: fadeIn .3s ease-out;
}
.санимацией:not(.меню-безанимации) .меню
{
	transition-property: max-width, visibility, opacity;
	transition-delay: 1ms, 0ms, 0ms;
	transition-duration: .2s;
	transition-timing-function: linear, linear, cubic-bezier(.25,.46,.45,.94);
}
.поддержать
{
	font-weight: bold;
}

/*************************************/
/*	М_ОКНА
/*************************************/

.окно.окно
{
	position: absolute;
	margin: .5rem;
	padding: .625rem;
	z-index: 3;
	background: linear-gradient(45deg, transparent 50%, rgba({{сЦветГрадиента}}, .2)),
		rgba({{сЦветФона}}, {{чНепрозрачностьОкна}});
	display: none;
	transform: scale(.8);
}
.окнооткрыто
{
	display: block !important;
	transform: none;
	-webkit-animation: fadeIn .3s ease-out;
	animation: fadeIn .3s ease-out;
}
.санимацией .окно
{
	transition: .15s ease-out;
	transition-property: visibility, opacity, transform;
}

/*************************************/
/*	М_ТАЩИЛКА
/*************************************/

/*
 * Стиль для body. Target для бросания перетаскиваемого элемента всегда будет html:
 * - Перетаскивание будет работать над iframe.
 * - Edge 15: Не менять форму курсора во время перетаскивания.
 */
.тащилка-страница::after
{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.[data-тащилка]
{
	touch-action: none;
	-webkit-user-select: none;
	user-select: none;
}

/*************************************/
/*	М_ПОЛНОЭКРАННЫЙРЕЖИМ
/*************************************/

/*
 * Не перекрывать фон body в полноэкранном режиме.
 * Edge 16: Не мешать работе .тащилка-страница.
 */
::backdrop
{
	display: none;
}
#проигрывательичат:-webkit-full-screen > div > #глаз
{
	width:  100% !important;            /* Chrome 49 */
	height: 100% !important;            /* Chrome 49 */
	background: transparent; /* Chrome 68 */
	contain: layout style;
}
#проигрывательичат:fullscreen > div > #глаз
{
	width: 100% !important;
	height: 100% !important;
	background: transparent;
	contain: layout style;
}

/*************************************/
/*	ЧАТ
/*************************************/

/*
 * user-select: none не только запрещает выделение, но также разрешает замену контекстного
 * меню браузера. Нажатие SHIFT+F10 может послать событие contextmenu в html и body.
 */
html
{
	-webkit-user-select: none;
	user-select: none;
}
/*
 * Фон во время инициализации проигрывателя, загрузки и воспроизведения видео, если
 * видео не покрывает все отведенное ему место (не совпадает соотношение сторон).
 * Edge 16: Фон <video> в полноэкранном режиме всегда #000. На стили не реагирует.
 */
body
{
	background: #000;
}
#проигрывательичат
{
	height: 100%;
	display: flex;
	align-items: stretch;
	/* Не показывать прокрутку если перетаскиваемый absolutely positioned element вылезет за пределы проигрывателя */
	overflow: hidden;
	font: bold .75rem/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
	white-space: nowrap;
	color: rgb({{сЦветКнопок}});
	text-shadow: 0 .0625rem .0625rem #333;
}
#проигрыватель
{
	flex: 1;
	/* Место для всех элементов панели и окна настроек */
	min-width: 35.75rem;
	/* Место для обеих панелей и окна настроек */
	min-height: 29.62rem;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-окно-открыто]):not(.меню-открыто) #проигрыватель
{
	cursor: none;
}
#размерчата:hover,
#размерчата.тащилка
{
	opacity: 1;
}
.санимацией #размерчата
{
	transition: opacity .35s ease-out;
}
/*
 * UNDONE Нужно для Chrome 56..65, более новым версиям вроде не мешает.
 * https://bugs.chromium.org/p/chromium/issues/detail?id=700346
 */
#размерчата:hover + #чат
{
	pointer-events: none;
}
#чат
{
	/* 305px чтобы влезла карточка зрителя */
	/* 245px чтобы влезли настройки чата */
	min-width: 245px;
	/* Должна влезать карточка зрителя с кнопками модератора */
	min-height: 188px;
	border: 0;
}
.скрытьчат #размерчата,
.скрытьчат #чат
{
	display: none;
}
/*
 * HACK Firefox 52, 58: Если загрузить iframe со стилем display:none, то в JavaScript
 * происходят разные неприятности, например он не начинает работать, крутит бесконечный
 * цикл или неправильно рассчитывает размер элементов. Возможно, Firefox забывает послать
 * в iframe какое-то событие. Другим браузерам этот стиль тоже не повредит.
 */
.скрытьчат #чат.загружается
{
	display: block;
	width: 0;
	height: 0;
	min-width: 0;
	min-height: 0;
	display: none;
}
/*
 * Положение чата
 */
#размерчата
{
	/* flex-basis == margin */
	flex: 0 0 .75rem;
	/* margin-left <= ОТСТУП_ОКНА */
	margin: 0 -.25rem 0 -.5rem;
	background: linear-gradient(to bottom,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		.4375rem 0% / .125rem 100% no-repeat;
	cursor: ew-resize;
	/* Прозрачная часть висит над панелью и чатом */
	z-index: 5;
	opacity: 0;
}
.чатслева #размерчата
{
	/* Не перекрывать вертикальную полосу прокрутки чата */
	flex: 0 0 .5rem;
	margin: 0 -.5rem 0 0;
	background: linear-gradient(to bottom,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		0% 0% / .125rem 100% no-repeat;
}
.чатслева #проигрывательичат
{
	flex-direction: row-reverse;
}
.чатвнизу #проигрывательичат
{
	flex-direction: column;
}
.чатвверху #проигрывательичат
{
	flex-direction: column-reverse;
}
.чатсправа:not(.автоположениечата) #чат,
.чатслева:not(.автоположениечата) #чат
{
	height: 100%;
}
.чатвнизу:not(.автоположениечата) #чат,
.чатвверху:not(.автоположениечата) #чат
{
	width: 100%;
}
.чатвнизу:not(.автоположениечата) #размерчата,
.чатвверху:not(.автоположениечата) #размерчата
{
	/*
	 * Чат внизу: сильно не перекрывать верхнее сообщение если заголовок чата скрыт.
	 * Чат вверху: не перекрывать поле ввода сообщения.
	 */
	flex: 0 0 .5rem;
	margin: -.25rem 0;
	background: linear-gradient(to right,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		0% center / 100% .125rem no-repeat;
	cursor: ns-resize;
}
@media all and (min-aspect-ratio: 16/10)
{
	.автоположениечата #проигрывательичат
	{
		flex-direction: row;
	}
	.автоположениечата.чатслева #проигрывательичат
	{
		flex-direction: row-reverse;
	}
	.автоположениечата #чат
	{
		height: 100%;
	}
}
@media not all and (min-aspect-ratio: 16/10)
{
	.автоположениечата #проигрывательичат
	{
		flex-direction: column;
	}
	.автоположениечата.чатвверху #проигрывательичат
	{
		flex-direction: column-reverse;
	}
	.автоположениечата #чат
	{
		width: 100%;
	}
	.автоположениечата #размерчата
	{
		/* Копия */
		flex: 0 0 .5rem;
		margin: -.25rem 0;
		background: linear-gradient(to right,
			rgba({{сЦветФона}}, {{чНепрозрачность}}),
			rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
			rgba({{сЦветФона}}, {{чНепрозрачность}}))
			0% center / 100% .125rem no-repeat;
		cursor: ns-resize;
	}
}

/*************************************/
/*	ПРОИГРЫВАТЕЛЬ
/*************************************/

::selection
{
	color: #000;
	/*
	 * HACK Chrome 57: Не делать фон полупрозрачным.
	 * https://stackoverflow.com/questions/7224445/
	 */
	background-color: rgba({{сЦветВыделения}}, .99);
	text-shadow: none;
}
/*
 * TODO Показать рамку если топчут клаву. Edge 15 делает это самостоятельно и даже title показывает.
 * https://chromium.googlesource.com/chromium/src/+/master/ui/webui/resources/js/cr/ui/focus_outline_manager.js
 */
:focus
{
	outline: 0;
}
hr
{
/* Edge 16: Со случайными дробными размерами бордюр исчезает */
	border: 0;
	padding: 0;
	/* Chrome 68: Размер задан в px чтобы на него не влияло положение элемента на странице */
	height: 1px;
	background: linear-gradient(to right, transparent, rgb({{сЦветЗаголовка}}), transparent);
}
a
{
	color: inherit;
	-webkit-user-select: text;
	user-select: text;
}
a:hover
{
	color: rgb({{сЦветВыделения}});
}
.отступслева
{
	display: inline-block;
	margin-left: .5em;
}
.отступсправа
{
	display: inline-block;
	margin-right: .5em;
}
.горизвырав
{
	display: flex;
	flex-shrink: 0;
}
.горизвырав-лево
{
	flex: 1;
	text-align: left;
}
.горизвырав-середина
{
	/* Расстояние между горизвырав-элементами одинаково и не зависит от размера элементов */
	flex: 1;
	text-align: center;
}
.горизвырав-право
{
	flex: 1;
	text-align: right;
}
.метка.метка /* specificity */
{
	color: rgb({{сЦветЗаголовка}});
}
#глаз
{
	contain: strict;
	 /* position: absolute; Chrome 59- */
	/*height: 100%;
	width: 100%;*/
	z-index: 1;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}
#глаз.масштабировать /* specificity */
{
	object-fit: cover;
	height: 100% !important;
	width: 100% !important;
}
.крутилка
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 5.375rem;
	height: 5.375rem;
	border-radius: 8%;
	padding: .6875rem;
	background: rgba({{сЦветФона}}, {{чНепрозрачностьОкна}});
	box-shadow: inset 0 .625rem .625rem rgba({{сЦветГрадиента}}, .2), inset 0 -.625rem .9375rem hsla(0, 0%, 0%, .25);
}
.санимацией .крутилка > use[xlink|href="#svg-buffering"]
{
	transform-origin: center;
	animation: 2s cubic-bezier(.46,.03,.52,.96) infinite загрузка;
}
@keyframes загрузка
{
	80% {transform: scaleX(1)}
	90% {transform: scaleX(0)}
}
#уведомление
{
	position: absolute;
	top: calc(1.25rem + 2.5rem);
	right: calc(1.25rem + 2.5rem);
	width: 4rem;
	height: 4rem;
	border: .125rem solid rgba(255, 255, 255, .35);
	border-radius: 8%;
	padding: .625rem;
	color: rgb({{сЦветВыделения}});
	background: rgb({{сЦветФона}});
	z-index: 9;
}
#уведомление.жопа /* specificity */
{
	border-color: #fcc;
	color: #fff;
	background: #f00;
}
.санимацией #уведомление
{
	animation: .3s cubic-bezier(.17,.84,.44,1) уведомление;
}
@keyframes уведомление
{
	from {transform: scale(1.5)}
	to   {transform: none}
}
.панель
{
	position: absolute;
	left: 0;
	right: 0;
	height: 2.5rem;
	padding: 0 .5rem;
	display: flex;
	align-items: center;
	z-index: 2;
	font-size: .9375rem;
	background: linear-gradient(to right,
		rgba({{сЦветГрадиента}},  0) 10%,
		rgba({{сЦветГрадиента}}, .2) 40%,
		rgba({{сЦветГрадиента}}, .2) 60%,
		rgba({{сЦветГрадиента}},  0) 90%),
		rgba({{сЦветФона}}, 0.8);
	-webkit-animation: fadeIn .3s ease-out;
	animation: fadeIn .3s ease-out;
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-окно-открыто]) .панель
{
	/* Чтобы transition не мешал скрывать tooltip и курсор, висящего над элементом, для которого задан cursor */
	display: none;
}
.санимацией:not(.панель-безанимации) .панель
{
	transition: .3s ease-out;
	transition-property: visibility, opacity;
}
.верхняя
{
	top: 0;
}
.нижняя
{
	bottom: 0;
}
.элементпанели
{
	/* Увеличить размер элемента чтобы упростить нажатие на сенсорном экране */
	height: 100%;
	padding: 0 .5rem;
	display: flex;
	align-items: center;
}
/* :enabled не работает со <span> */
.можнотыкать:not(:disabled):hover
{
	cursor: pointer;
}
.санимацией .метка.можнотыкать:not(:disabled):hover
{
	color: inherit;
}
.санимацией .можнотыкать:not(:disabled):hover
{
	/*
	 * HACK Chrome 64 + Windows 7 + аппаратное ускорение: drop-shadow() глючит если размер
	 * тени равен 3.0001..3.3333 пикселей. Возможно есть и другие глючные значения.
	 */
	-webkit-filter: drop-shadow(0 0 .1875rem rgb({{сЦветВыделения}})) drop-shadow(0 0 .0625rem rgba({{сЦветВыделения}}, .8));
	filter:         drop-shadow(0 0 .1875rem rgb({{сЦветВыделения}})) drop-shadow(0 0 .0625rem rgba({{сЦветВыделения}}, .8));
	text-shadow: none;
}
.санимацией .можнотыкать:not(:disabled):active
{
	-webkit-filter: drop-shadow(0 0 .1875rem rgb({{сЦветВыделения}}));
	filter:         drop-shadow(0 0 .1875rem rgb({{сЦветВыделения}}));
	text-shadow: none;
}
body:not(.санимацией) .можнотыкать:not(:disabled):active
{
	opacity: .85;
	text-shadow: none;
}
.элементпанели > .можнотыкать
{
	/* Увеличение высоты и центровка по вертикали */
	line-height: 2.5rem;
}
.группаэлементов
{
	flex: 0 1.8 3.75rem;
}
.кнопка
{
	flex: none;
	border-radius: 0;
	color: inherit; /* Chrome */
	background: transparent !important;
}
.кнопка > svg
{
	width: 1.5rem;
	height: 1.5rem;
}
/* Применить анимацию к svg, чтобы можно было нажимать на края кнопки */
.кнопка:enabled:active > svg
{
	transform: scale(.85);
}
.кнопка.нескрывать:disabled
{
	opacity: 1;
	cursor: not-allowed;
}
#громкость
{
	flex: 0 .9 7.5rem;
	min-width: .4375rem;
	/* Edge 16: В -ms-track единица измерения rem ссылается на <input> вместо <html> */
	font-size: 1rem; /* НЕ МЕНЯТЬ */
	color: inherit;
	background: transparent !important;
}
#громкость::-webkit-slider-runnable-track
{
	height: .375rem;
	border: 0;
	border-radius: .0625rem;
	background: currentColor;
}
#громкость::-webkit-slider-thumb
{
	-webkit-appearance: none;
	width: .5rem;
	height: 1.125rem;
	margin-top: -.375rem;
	border: 0;
	border-radius: .125rem;
	background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .25)), currentColor;
	box-shadow: 0 0 .125rem hsla(0, 0%, 0%, .7);
}
.позиция
{
	flex: 1;
}
#скорость
{
	flex: none;
	width: 3.2em; /* Firefox 58 Android */
	/*
	 * Если растянуть элемент на всю высоту панели, то выпадающий список будет оторван от элемента.
	 * Кроме того, горизонтальные поля придется задавать пробелами.
	 */
	height: 1.5rem;
	margin: 0 .5rem;
	padding: 0 .47em;
	background: rgb({{сЦветКнопок}});
}
#названиетрансляции > a,
#названиеигры > a
{
	/* Увеличение высоты и центровка по вертикали */
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}
#названиетрансляции
{
	flex-grow: 1;
	min-width: 0;
}
#названиеигры
{
	min-width: 6em;
}
body[data-состояние="6"]:not(.нетвидео):not(.проверкацвета) .крутилка,
body[data-состояние="8"]:not(.нетвидео):not(.проверкацвета) .крутилка,
body:not([data-состояние="1"]):not([data-состояние="2"]):not([data-состояние="4"]):not([data-состояние="5"]) .крутилка > use[xlink|href="#svg-buffering"],
body:not([data-состояние="3"]) .крутилка > use[xlink|href="#svg-end"],
body:not([data-состояние="7"]) .крутилка > use[xlink|href="#svg-stop"],
body:not([data-состояние="6"]):not([data-состояние="8"]) .крутилка > use[xlink|href="#svg-mute-false"],
body:not(.нетвидео) .крутилка > use[xlink|href="#svg-mute-false"],
body.проверкацвета .крутилка > use:not([xlink|href="#svg-settings"]),
body:not(.проверкацвета) .крутилка > use[xlink|href="#svg-settings"],
body[data-состояние="8"] .позиция,
body:not([data-состояние="8"]) #скорость,
body:not([data-состояние="8"]) #переключитьпаузу,
body:not([data-состояние="8"]) #шкала,
body.нетзвука #переключитьприглушить,
body.нетзвука #громкость
{
	display: none;
	animation: none;
}
body.проверкацветафон #глаз
{
	display: none;
}
body.проверкацветафон #проигрыватель
{
	/* Шахматка не подходит: а) От нее глаза вытекают. б) В изображении должен преобладать белый цвет. */
	background: repeating-linear-gradient(to right,  #fff 0, #fff 5px, transparent 5px, transparent 10px),
	            repeating-linear-gradient(to bottom, #fff 0, #fff 5px, transparent 5px, transparent 10px),
	            #000;
}

/*************************************/
/*	ШКАЛА
/*************************************/

#шкала
{
	flex: 1 1 25rem;
	min-width: 9.375rem;
	cursor: pointer;
}
.шкала-фон
{
	flex: 1;
	height: .875rem;
	/* Черный фон шкалы не виден на черной панели без градиента */
	background: rgba({{сЦветКнопок}}, .3);
}
#шкала-просмотрено
{
	background: currentColor;
	height: 100%;
	transform-origin: 0;
}

/*************************************/
/*	КАНАЛ
/*************************************/

.канал
{
	right: 0;
	top: 2.5rem;
	max-width: 45em;
	-webkit-user-select: text;
	user-select: text;
}
.канал table
{
	border-spacing: 0;
}
.канал th
{
	width: .0625rem;
	padding-right: 1em;
	font: inherit;
	text-align: right;
	vertical-align: top;
}
.канал td
{
	white-space: normal;
	vertical-align: middle;
}
.канал hr
{
	margin: .5em 0;
}
th.канал-аватар /* specificity */
{
	vertical-align: middle;
}
.канал-аватар > img
{
	width:  5rem;
	height: 5rem;
}
#канал-имя
{
	font-size: 1.2em;
	font-weight: bolder;
	/* Убрать пустое место сверху */
	line-height: 1;
	margin-bottom: .4em;
}
.канал-ссылка[title]:not(:hover)
{
	text-decoration-style: dotted;
}
#зритель-подписаться,
#зритель-отписаться
{
	min-width: 100%;
}
.обновляется
{
	pointer-events: none;
}
.зритель-уведомлять
{
	margin-right: 1em;
}
#зритель-подписка[data-подписка="0"],
#зритель-подписка:not([data-подписка="1"]) #зритель-подписаться,
#зритель-подписка:not([data-подписка="2"]):not([data-подписка="3"]) #зритель-отписаться,
#зритель-подписка:not([data-подписка="2"]):not([data-подписка="3"]) .зритель-уведомлять
{
	display: none;
}

/*************************************/
/*	НАСТРОЙКИ
/*************************************/

.настройки
{
	right: 0;
	bottom: 2.5rem;
}
.заголовокнастроек
{
	display: block;
	margin-bottom: .5em;
	border-radius: .2em;
	padding: .36em .5em .3em;
	color: #000;
	text-shadow: 0 .0625rem .1875rem rgba(200, 200, 200, .6);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .0625rem;
	font-size: 0.8334em;
	background: rgb({{сЦветКнопок}});
	cursor: pointer;
}
input:checked + .заголовокнастроек
{
	background: rgb({{сЦветЗаголовка}});
	cursor: default;
}
.группанастроек
{
	/* BUG Chrome 64: При определенных дробных значениях rem случайные части разметки дергаются во время анимации */
	height: 16.834em;
	overflow: hidden;
}
input:not(:checked) + .заголовокнастроек + .группанастроек
{
	height: 0;
}
.санимацией .заголовокнастроек,
.санимацией .группанастроек
{
	transition: .3s cubic-bezier(.22, .61, .36, 1);
	transition-property: background-color, height;
}
.настройка
{
	display: flex;
	/* .настройка-данные без .настройка-имя */
	justify-content: flex-end;
	align-items: center;
	margin: calc(.7em - .5em) 0 .7em;
}
.настройка-имя
{
	flex: 1;
	margin-right: 2em;
	color: rgb({{сЦветЗаголовка}});
}
.настройка-данные
{
	color: #fff;
}
.настройка-данные input[type="color"],
.настройка-данные button,
.настройка-данные select
{
	min-width: 11.2em;
	max-width: 16em;
}
.вводчисла-число.вводчисла-число /* specificity */
{
	min-width: 5.2em;
	max-width: 5.2em;
	text-align: right;
	background: linear-gradient(to right, hsl(0, 0%, 60%), hsl(0, 0%, 88%) .0625rem, #fff .3125rem, #fff calc(100% - .3125rem), hsl(0, 0%, 88%) calc(100% - .0625rem), hsl(0, 0%, 60%));
}
.вводчисла-минус.вводчисла-минус, /* specificity */
.вводчисла-плюс.вводчисла-плюс    /* specificity */
{
	min-width: 3em;
}
.вводчисла-минус
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.вводчисла-плюс
{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.положениечата
{
	position: relative;
	width: 4em;
	height: 4em;
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle;
}
.положениечата > label:nth-child(1)
{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.положениечата > label:nth-child(2)
{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}
.положениечата > label:nth-child(3)
{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}
.положениечата > label:nth-child(4)
{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}
.общиенастройки
{
	margin-top: calc(.625rem - .5em);
	display: flex;
	justify-content: space-between;
}

/*************************************/
/*	НОВОСТИ
/*************************************/

.новости
{
	right: 0;
	bottom: 2.5rem;
	/* Чтобы задать максимальную высоту .новости-текст в процентах */
	display: flex;
	flex-direction: column;
	max-height: calc(100% - 2.5rem * 2 - .5rem * 2);
}
.новости-текст
{
	max-width: 42em;
	overflow: auto;
	margin-bottom: 1em;
	/* Чтобы текст не упирался в полосу прокрутки */
	padding-right: .3em;
	white-space: normal;
	-webkit-user-select: text;
	user-select: text;
}
.новости-текст > h4
{
	color: rgb({{сЦветЗаголовка}});
}
.новости-текст > h4,
.новости-текст > p,
.новости-текст ol,
.новости-текст ul
{
	margin: 1em 0;
}
.новости-текст > h4:first-child,
.новости-текст > p:last-child
{
	margin: 0;
}
.новости-текст ol,
.новости-текст ul
{
	padding-left: 1.5em;
}
.новости-текст b
{
	font-weight: inherit;
	color: rgb({{сЦветЗаголовка}});
}
#открытьновости
{
	color: rgb({{сЦветВыделения}});
}
.непрочитано:not(:hover) > svg
{
	transform-origin: 50% 10%;
	animation: 13s linear .5s infinite открытьновости;
}
/*
 * Chrome 62, Firefox 57: Если родительский элемент скрыт стилями visibility:hidden
 * и opacity:0, то infinite анимация не вызывает перерисовку, но продолжает рассчитываться,
 * немного нагружая процессор.
 */
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-окно-открыто]) .непрочитано > svg
{
	animation-play-state: paused;
}
@keyframes открытьновости
{
	0.38%{transform:rotate(30deg)}1.15%{transform:rotate(-30deg)}1.92%{transform:rotate(30deg)}2.69%{transform:rotate(-30deg)}3.46%{transform:rotate(30deg)}4.23%{transform:rotate(-30deg)}5.00%{transform:rotate(30deg)}5.77%{transform:rotate(-30deg)}6.54%{transform:rotate(30deg)}7.31%{transform:rotate(-30deg)}8.08%{transform:rotate(30deg)}8.85%{transform:rotate(-30deg)}9.62%{transform:rotate(30deg)}10.38%{transform:rotate(-30deg)}11.15%{transform:rotate(30deg)}11.92%{transform:rotate(-30deg)}12.69%{transform:rotate(30deg)}13.46%{transform:rotate(-30deg)}14.23%{transform:rotate(30deg)}15.00%{transform:rotate(-30deg)}15.77%{transform:rotate(30deg)}16.54%{transform:rotate(-30deg)}17.31%{transform:rotate(30deg)}18.08%{transform:rotate(-30deg)}18.85%{transform:rotate(30deg)}19.62%{transform:rotate(-30deg)}20.38%{transform:rotate(30deg)}21.15%{transform:rotate(-30deg)}21.92%{transform:rotate(30deg)}22.69%{transform:rotate(-30deg)}23.08%{transform:none}
}
#прокрутитьновости
{
	width: 3em;
	border-radius: 0; /* Оптимизация */
	background: url("player.svg#scrolldown") center no-repeat;
	/*
	 * Firefox 58 Android: Полоса прокрутки практически не видна. В настольных браузерах 
	 * тоже не помешает: цвет полосы предсказать невозможно, а люди невнимательны.
	 */
	animation: 3s linear infinite прокрутитьновости;
}
@keyframes прокрутитьновости
{
	85%  {transform: translateY(0)}
	90%  {transform: translateY(.25rem)} /* < ПОЛЕ_ОКНА */
	100% {transform: translateY(0)}
}

/*************************************/
/*	СТАТИСТИКА
/*************************************/

#статистика
{
	position: absolute;
	top: var(--y, 2.5rem);
	left: var(--x, 0);
	font: .75rem/1rem "Roboto Condensed", Calibri, "Arial Narrow", Arial, "Helvetica Neue", Helvetica, sans-serif;
	z-index: 1;
	color: #fff;
	/*
	 * Firefox 53: text-shadow очень сильно нагружает процессор.
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=1357692
	 */
	text-shadow: none;
	background: rgba(0, 0, 0, .6);
}
#статистика.тащилка
{
	outline: .0625rem solid hsl(210, 30%, 40%);
}
#статистика:not(.тащилка):hover
{
	background: rgba(0, 0, 0, 1);
}
#статистика.тащилка,
#статистика:hover
{
	z-index: 10;
	min-width: 36em;
	max-width: calc(100% - var(--x, 0));
}
#статистика:not(.тащилка):not(:hover) .статистика-подробно
{
	display: none;
}
.статистика-кнопка
{
	position: absolute;
	top: 0;
	padding: .5rem .3125rem;
}
.статистика-кнопка > svg
{
	width: 1.2rem;
	height: 1.2rem;
}
#закрытьстатистику
{
	left: 0;
	cursor: pointer;
}
.статистика-переместить
{
	left: 1.825rem;
	cursor: move;
}
th[data-тащилка="статистика"]
{
	cursor: move;
}
.статистика-прокрутка
{
	overflow: auto;
	padding: .5em;
}
.статистика-главнаятаблица
{
	border-spacing: 0;
	-webkit-user-select: text;
	user-select: text;
}
.статистика-главнаятаблица > tbody > tr > th
{
	border-right: 1px solid #777;
	padding: 0 .5em 0 0;
	font: inherit;
	text-align: right;
	color: hsl(195, 80%, 90%);
}
.статистика-главнаятаблица > tbody > tr > td
{
	padding: 0;
}
.статистика-главнаятаблица > tbody > tr > th + td
{
	padding-left: .5em;
}
.статистика-символ
{
	font: 1.2em/1 Calibri, Arial, sans-serif;
	color: #b7b7b7;
}
.статистика-выделить
{
	font-weight: bold;
	color: #FF6;
}
.статистика-анализ
{
	border-spacing: .0625rem 0;
	text-align: right;
}
.статистика-анализ td
{
	border: .0625rem solid transparent;
	padding: 0;
}
.статистика-анализ > tbody > tr:not(:last-child) > td
{
	border-bottom: 0;
}
.статистика-анализ > tbody > tr:not(:first-child) > td
{
	border-top: 0;
}
.анализ-минимум,
.анализ-среднее,
.анализ-максимум,
#статистика:not(.тащилка):not(:hover) .анализ-история:not(.статистика-подробно)
{
	box-sizing: content-box;
	min-width: 2.05em;
}
.анализ-максимум.анализ-максимум /* specificity */
{
	padding-right: .5em;
}
.анализ-история.анализ-история /* specificity */
{
	border-color: #777;
	padding: 0 .125rem;
}
.анализ-история:not(.статистика-подробно)
{
	border-color: #F40;
}
.анализ-история:empty
{
	display: none;
}