@namespace xlink "http://www.w3.org/1999/xlink";

html { font-size: 1px; }
body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

/*************************************/
/*	ЭЛЕМЕНТЫ УПРАВЛЕНИЯ
/*************************************/

input,
button,
select,
.радио
{
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	color: #000;
	height: 3.217ex;
}
input[type="color"],
button
{
	border-radius: .25em;
	padding: 0 .5em;
	background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 95%) 40%, hsl(0, 0%, 88%) 60%, hsl(0, 0%, 70%));
}
input[type="color"]:enabled:active,
button:enabled:active
{
	background: linear-gradient(to bottom, hsl(0, 0%, 70%), hsl(0, 0%, 85%) 40%, hsl(0, 0%, 90%));
}
input[type="color"]
{
	padding: .3334em;
}
input[type="color"]:disabled,
button:disabled,
select:empty
{
	opacity: .4;
}
input[type="text"],
select
{
	padding: 0 .5em;
	background: #fff;
}
select
{
	padding: 0 .1667em;
}
input[type="text"]:disabled,
select:disabled
{
	color: hsl(0, 0%, 40%);
	background: hsl(0, 0%, 95%);
}
select
{
	/* Не меняем background-color */
	background-image: url("player.svg#select");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.42em;
	padding-right: 1.42em;
}
.радио
{
	display: inline-block;
	/* Ширина меньше высоты */
	width: 1.4em;
	margin: 0 .25em 0 0;
	/* См. комментарий в player.svg */
	background: url("player.svg#radio0") center no-repeat;
}
input:checked + .радио
{
	background-image: url("player.svg#radio1");
}
.радио-метка
{
	display: flex;
	align-items: center;
}

/*************************************/
/*	КНОПКА С ВСПЛЫВАЮЩИМ МЕНЮ
/*************************************/

.кнопкаименю
{
	position: relative;
}
.кнопкаименю-кнопка
{
	width: 100%;
}
.кнопкаименю-тексткнопки::after
{
	content: "\0000A0";
	display: inline-block;
	width: 1.42em;
	background: url("player.svg#select") center / 100% no-repeat;
}
.кнопкаименю-меню
{
	position: absolute;
	min-width: 100%;
	z-index: 100;
	visibility: hidden;
	opacity: .1;
	transform: scaleY(0);
}
.открыто > .кнопкаименю-меню
{
	visibility: visible;
	opacity: 1;
	transform: none;
}
.санимацией:not(.кнопкаименю-безанимации) .кнопкаименю-меню
{
	transition: all .15s ease-out;
}
.меню
{
	margin: 0;
	border: 1rem solid #979797;
	padding: 2rem;
	background: #f0f0f0;
	box-shadow: inset 0 0 2rem 1rem #fff, 0 2rem 3rem rgba(0, 0, 0, .3);
	cursor: default;
	list-style: none;
	-moz-user-select: none;
}
/*
 * Оставить pointer events у disabled пункта, чтобы показать всплывающую подсказку.
 * Также наличие tabindex проверяется в обработчике события click.
 */
.пунктменю
{
	margin: 0;
	border: 1rem solid transparent;
	padding: 2rem 6rem;
	font-weight: normal;
	text-shadow: none;
	color: #888;
}
.пунктменю[tabindex]
{
	color: #000;
}
.пунктменю[tabindex]:hover
{
	border-color: #aecff7;
	border-radius: 2rem;
	background: linear-gradient(to bottom, #f2f9ff, #d6eaf9);
	box-shadow: inset 0 0 1rem 1rem rgba(255, 255, 255, .4);
}
.разделительменю
{
	margin: 3rem 0;
	border-top: 1rem solid #e0e0e0;
	border-bottom: 1rem solid #fff;
	pointer-events: none;
}

/*************************************/
/*	М_ТАЩИЛКА
/*************************************/

/*
 * Стиль для body. Перетаскивание будет работать над iframe.
 * Edge 15: Не менять форму курсора во время перетаскивания.
 */
.js-тащилка-страница
{
	pointer-events: none;
}
.js-тащилка-скрыть
{
	visibility: hidden !important;
}

/*************************************/
/*	М_ОКНА
/*************************************/

.окно
{
	position: absolute;
	padding: 10rem;
	z-index: 3;
	cursor: auto;
	background: linear-gradient(45deg, transparent 50%, rgba({{сЦветГрадиента}}, .2)),
		rgba({{сЦветФона}}, {{чНепрозрачностьОкна}});
	display: none;
}
.окно.открыто
{
	display: block;
	animation: open .15s ease-out;
}
@-webkit-keyframes open {
	0% { opacity: 0; transform: scaleY(0); }
	100% { opacity: 1; transform: none; }
}
@keyframes open {
	0% { opacity: 0; transform: scaleY(0); }
	100% { opacity: 1; transform: none; }
}

/*************************************/
/*	ЧАТ
/*************************************/

/*
 * Фон во время инициализации проигрывателя и просмотра трансляции, если видео
 * не покрывает все отведенное ему место (не совпадает соотношение сторон).
 */
body
{
	background: #000;
}
#проигрывательичат
{
	height: 100%;
	display: flex;
	align-items: stretch;
	/* Не показывать прокрутку если перетаскиваемый absolutely positioned element вылезет за пределы проигрывателя */
	overflow: hidden;
	font-weight: bold;
	font-size: 12rem;
	line-height: 1.5;
	white-space: nowrap;
	color: rgb({{сЦветКнопок}});
	fill: currentColor;
	text-shadow: 0 1rem 1rem #333;
	background: inherit;
	-moz-user-select: none;
}
#проигрыватель:hover > .панель {
	will-change: opacity;
}
.чатвнизу #проигрывательичат
{
	flex-direction: column;
}
.чатслева #проигрывательичат
{
	flex-direction: row-reverse;
}
.чатвверху #проигрывательичат
{
	flex-direction: column-reverse;
}
#проигрыватель
{
	flex: 1;
	/* Место для всех элементов панели и окна настроек */
	position: relative;
	/* Chrome 59 изменяет фон у :fullscreen */
	background: inherit;
}
#размерчата
{
	contain: strict;
	/* flex-basis == margin */
	flex: 0 0 16rem;
	/* margin-left <= ОТСТУП_ОКНА */
	margin: 0 -8rem;
	/* Прозрачная часть висит над панелью и чатом */
	z-index: 5;
	cursor: pointer;
	background: linear-gradient(to bottom,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		center 0% / 2rem 100% no-repeat;
	opacity: 0;
}
.чатвнизу #размерчата
{
	/* Оставить место между #размерчата и кнопками панели чтобы не промахнуться */
	margin: -4rem 0 -12rem;
	background: linear-gradient(to right,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		0% 3rem / 100% 2rem no-repeat;
}
.чатвверху #размерчата
{
	/* Оставить место между #размерчата и кнопками панели чтобы не промахнуться */
	margin: -12rem 0 -4rem;
	background: linear-gradient(to right,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		0% 11rem / 100% 2rem no-repeat;
}
#размерчата:hover,
#размерчата.js-тащилка-элемент
{
	opacity: 1;
}
.санимацией #размерчата
{
	transition: opacity .35s ease-out;
}
/* TODO https://bugs.chromium.org/p/chromium/issues/detail?id=700346 */
#размерчата:hover + #чат
{
	pointer-events: none;
}
#чат
{
	min-width: 250px;
	min-height: 260px;
	border: 0;
	contain: strict;
}
.чатсправа #чат,
.чатслева #чат
{
	height: 100%; /* Edge 15 */
}
.чатвнизу #чат,
.чатвверху #чат
{
	width: 100%;  /* Edge 15 */
}
body:not(.показатьчат) #размерчата,
body:not(.показатьчат) #чат
{
	display: none;
}
/* В полноэкранном режиме чат не виден, значит и кнопка не нужна */
*:-moz-full-screen #переключитьчат
{
	display: none;
}
*:fullscreen #переключитьчат
{
	display: none;
}

/*************************************/
/*	ПРОИГРЫВАТЕЛЬ
/*************************************/

::-moz-selection
{
	color: #000;
	background-color: rgb({{сЦветВыделения}});
	text-shadow: none;
}
::selection
{
	color: #000;
	/*
	 * HACK Chrome 57: Не делать фон полупрозрачным.
	 * https://stackoverflow.com/questions/7224445/
	 */
	background-color: rgba({{сЦветВыделения}}, .99);
	text-shadow: none;
}
/*
 * TODO Показать рамку если топчут клаву. Edge 15 делает это самостоятельно и даже tooltip показывает.
 * https://chromium.googlesource.com/chromium/src/+/master/ui/webui/resources/js/cr/ui/focus_outline_manager.js
 */
::-moz-focus-inner,
::-moz-focus-outer
{
	border: 0;
}
:focus
{
	outline: 0;
}
hr
{
	border-width: 1rem 0 0;
	border-style: solid;
	border-image: linear-gradient(to right, transparent, rgb({{сЦветЗаголовка}}), transparent) 1;
}
a
{
	color: inherit;
	-moz-user-select: text;
}
a:hover
{
	color: rgb({{сЦветВыделения}});
}
.метка.метка /* specificity */
{
	color: rgb({{сЦветЗаголовка}});
	fill: currentColor; /* Firefox 55 */
}
#глаз
{
	contain: strict;
	position: absolute; /* Chrome 59- */
	height: 100%;
	width: 100%;
	z-index: 1;
	object-fit: scale-down;
}
body[data-состояние="8"]:not(.автоскрытие) #глаз
{
	cursor: pointer;
}
.крутилка
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 86rem;
	height: 86rem;
	border-radius: 8%;
	padding: 11rem;
	background: rgba({{сЦветФона}}, {{чНепрозрачностьОкна}});
	box-shadow: inset 0 10rem 10rem rgba({{сЦветГрадиента}}, .2), inset 0 -10rem 15rem hsla(0, 0%, 0%, .25);
	pointer-events: none;
}
#пропуск
{
	position: absolute;
	top: calc(20rem + 40rem);
	right: calc(20rem + 40rem);
	width: 64rem;
	height: 64rem;
	border: 2rem solid hsla(0, 0%, 100%, .8);
	border-radius: 8%;
	padding: 7rem;
	fill: hsl(0, 0%, 100%);
	background: hsl(0, 100%, 50%);
	box-shadow: 0 0 10rem hsla(0, 0%, 0%, .4);
	pointer-events: none;
	display: none;
}
.санимацией #пропуск
{
	animation: пропуск .5s linear;
}
@keyframes пропуск
{
	from {transform: scale(2)}
	to   {transform: scale(1)}
}
.панель
{
	contain: strict;
	position: absolute;
	left: 0;
	width: 100%;
	height: 10rem;
	padding: 0 8rem;
	display: flex;
	align-items: center;
	z-index: 99999;
	cursor: auto;
	font-size: 15rem;
	background: linear-gradient(to right,
		rgba({{сЦветГрадиента}},  0) 10%,
		rgba({{сЦветГрадиента}}, .2) 40%,
		rgba({{сЦветГрадиента}}, .2) 60%,
		rgba({{сЦветГрадиента}},  0) 90%),
		rgba({{сЦветФона}}, {{чНепрозрачность}});
	-webkit-animation: fadeIn .3s ease-out;
	animation: fadeIn .3s ease-out;
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.верхняя
{
	top: 0;
}
.нижняя
{
	bottom: 0;
}
.элементпанели
{
	/* Увеличить размер элемента чтобы упростить нажатие на сенсорном экране */
	height: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
}
/* :enabled не работает со <span> */
.можнотыкать:not(:disabled):hover
{
	cursor: pointer;
}
.метка.можнотыкать:not(:disabled):hover
{
	color: inherit;
}
.санимацией .можнотыкать:not(:disabled):hover
{
	        filter: drop-shadow(0 0 3rem rgb({{сЦветВыделения}})) drop-shadow(0 0 1rem rgba({{сЦветВыделения}}, .7));
	text-shadow: none;
}
.группаэлементов
{
	flex: 0 1.8 60rem;
}
.кнопка
{
	flex: none;
	border-radius: 0;
	color: inherit; /* Chrome */
	background: transparent !important;
}
.кнопка > svg
{
	width: 5rem;
	height: 5rem;
}
/* Применить анимацию к svg, чтобы можно было нажимать на края кнопки */
.кнопка:enabled:active > svg
{
	transform: scale(.85);
}
.санимацией .кнопка > svg
{
	/* HACK Chrome 64, Firefox 58: Без этой строки и с дробным rem, окончание анимации может потерять плавность */
	transform: scale(1.0001);
	transition: transform .3s;
}
.санимацией .кнопка:enabled:active > svg
{
	transition-duration: .1s;
}
.кнопка.нескрывать:disabled
{
	opacity: 1;
}
#громкость
{
	/* Edge 16: В -ms-track единица измерения rem ссылается на <input> вместо <html> */
	font-size: 1rem;
	color: inherit;
	background: transparent !important;
}
#громкость::-moz-range-track
{
	height: 6rem;
	border: 0;
	border-radius: 1rem;
	background: currentColor;
}
#громкость::-moz-range-thumb
{
	width: 8rem;
	height: 18rem;
	border: 0;
	border-radius: 2rem;
	background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .25)), currentColor;
	box-shadow: 0 0 2rem hsla(0, 0%, 0%, .7);
}
.позиция
{
	flex: 1;
}
#скорость
{
	flex: none;
	width: 3.2em; /* Firefox 58 Android */
	/*
	 * Если растянуть элемент на всю высоту панели, то выпадающий список будет оторван от элемента.
	 * Кроме того, горизонтальные поля придется задавать пробелами.
	 */
	height: 24rem;
	margin: 0 8rem;
	/*
	 * Firefox 59: Минимальная ширина выпадающего списка = content-box + ширина полосы прокрутки, даже
	 * когда она не видна. Горизонтальное поле на 4 пиксела больше указанного.
	*/
	padding: 0 .27em;
	/*
	 * HACK Firefox 59: Дробная позиция и drop-shadow() полностью ломают работу <select>. scaleY() обходит
	 * эту ошибку, добавляя новую, менее неприятную. Приходиться выбирать между двумя сортами говна.
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=1437275
	 */
	transform: scaleY(1);
	background: rgb({{сЦветКнопок}});
}
#названиетрансляции > a,
#названиеигры > a
{
	/* Увеличение высоты и центровка по вертикали */
	line-height: 20rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}
#названиетрансляции
{
	flex-grow: 1;
	min-width: 4em;
}
#названиеигры
{
	min-width: 6em;
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-открытоеокно]) #проигрыватель
{
	cursor: none;
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-открытоеокно]) .панель
{
	display: none;
}
body[data-состояние="6"]:not(.проверкацвета) .крутилка,
body[data-состояние="8"]:not(.проверкацвета) .крутилка,
body.проверкацвета .крутилка > use:not([xlink|href="#svg-settings"]),
body:not(.проверкацвета) .крутилка > use[xlink|href="#svg-settings"],
body:not([data-состояние="3"]) .крутилка > use[xlink|href="#svg-end"],
body:not([data-состояние="1"]):not([data-состояние="2"]):not([data-состояние="4"]):not([data-состояние="5"]) .крутилка > use[xlink|href="#svg-buffering"],
body:not([data-состояние="7"]) .крутилка > use[xlink|href="#svg-stop"],
body[data-состояние="8"] .позиция,
body:not([data-состояние="8"]) #скорость,
body:not([data-состояние="8"]) #переключитьпаузу,
body:not([data-состояние="8"]) #шкала
{
	display: none;
}
body.проверкацветафон #глаз
{
	display: none;
}
body.проверкацветафон #проигрыватель
{
	/* Шахматка не подходит: а) От нее глаза вытекают. б) В изображении должен преобладать белый цвет. */
	background: repeating-linear-gradient(to right,  #fff 0, #fff 5px, transparent 5px, transparent 10px),
	            repeating-linear-gradient(to bottom, #fff 0, #fff 5px, transparent 5px, transparent 10px),
	            #000;
}

/*************************************/
/*	ШКАЛА
/*************************************/

#шкала
{
	flex: 1 1 400rem;
	cursor: pointer;
}
.шкала-фон
{
	flex: 1;
	height: 14rem;
	background: #000;
}
#шкала-просмотрено
{
	background: currentColor;
	height: 100%;
	transform-origin: 0;
}

/*************************************/
/*	КАНАЛ
/*************************************/

.канал
{
	max-width: 80em;
}
.канал table
{
	border-spacing: 0;
}
.канал th
{
	width: 1rem;
	padding-right: 1em;
	font: inherit;
	text-align: right;
	vertical-align: top;
}
.канал td
{
	white-space: normal;
	vertical-align: middle;
}
.канал hr
{
	margin: .5em 0;
}
th.канал-аватар, /* specificity */
#зритель-подписка > th
{
	vertical-align: middle;
}
.канал-аватар > img
{
	width:  80rem;
	height: 80rem;
}
#канал-имя
{
	font-size: 1.2em;
	font-weight: bolder;
	/* Убрать пустое место сверху */
	line-height: 1;
	margin-bottom: .4em;
}
#зритель-подписаться,
#зритель-отписаться
{
	min-width: 100%;
}
.канал .кнопка
{
	padding: 0;
}
#зритель-уведомлять
{
	opacity: .5;
}
.обновляется
{
	pointer-events: none;
}
body.авторизован .зритель-неавторизован,
body:not(.авторизован) #зритель-имя,
body:not(.авторизован) #зритель-подписка,
#зритель-подписка[data-подписка="0"],
#зритель-подписка:not([data-подписка="1"]) #зритель-подписаться,
#зритель-подписка:not([data-подписка="2"]):not([data-подписка="3"]) #зритель-отписаться,
#зритель-подписка:not([data-подписка="2"]) #зритель-уведомлять,
#зритель-подписка:not([data-подписка="3"]) #зритель-неуведомлять
{
	display: none;
}

/*************************************/
/*	НАСТРОЙКИ
/*************************************/

.настройки
{
	right: 8rem;
	bottom: calc(40rem + 8rem);
}
.заголовокнастроек
{
	display: block;
	margin-bottom: .5em;
	border-radius: .2em;
	padding: .2em .4em;
	color: #000;
	text-shadow: 0 1rem 1rem rgba(50, 50, 50, .15);
	background: rgb({{сЦветКнопок}});
	cursor: pointer;
}
input:checked + .заголовокнастроек
{
	cursor: default;
}
.группанастроек
{
	height: 16.835em;
	overflow: hidden;
}
input:not(:checked) + .заголовокнастроек + .группанастроек
{
	height: 0;
	visibility: hidden;
}
.санимацией .группанастроек
{
	transition: all .3s cubic-bezier(.22, .61, .36, 1);
}
.настройка
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: calc(.7em - .5em) 0 .7em;
}
.имянастройки
{
	flex: 1;
	margin-right: 1.5em;
	color: rgb({{сЦветЗаголовка}});
}
.данныенастройки
{
	display: flex;
	width: 11em;
	color: #fff;
}
.данныенастройки-2 > label:first-of-type
{
	min-width: 45%;
}
.данныенастройки-3
{
	justify-content: space-between;
}
.данныенастройки input,
.данныенастройки button,
.данныенастройки select,
.данныенастройки .кнопкаименю
{
	flex: 1;
	min-width: 0;
}
.выборцвета
{
	display: flex;
}
.кнопкивыборацвета
{
	flex: 1;
}
.данныенастройки .вводчисла-число
{
	flex: 1.5;
	text-align: right;
	background: linear-gradient(to right, hsl(0, 0%, 60%), hsl(0, 0%, 88%) 1rem, #fff 5rem, #fff calc(100% - 5rem), hsl(0, 0%, 88%) calc(100% - 1rem), hsl(0, 0%, 60%));
}
.данныенастройки .вводчисла-минус
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.данныенастройки .вводчисла-плюс
{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.настройки hr
{
	margin: calc(10rem - .5em) 0 10rem;
}
.кнопкаименю-меню
{
	top: -2.5em;
}
#переключитьстатистику,
#открытьсправку
{
	float: left;
}
#оставитьотзыв,
#поддержать
{
	float: right;
}
#открытьсправку,
#оставитьотзыв,
#поддержать
{
	margin-left: .5em;
}
#поддержать
{
	font-weight: bold;
}

/*************************************/
/*	НОВОСТИ
/*************************************/

/* Ширина <= min(.новости:max-width, .новости-текст:max-width). С высотой такой фокус не проходит. */
.новости
{
	max-width: calc(100% - 8rem * 2);
	right: 8rem;
	bottom: calc(40rem + 8rem);
}
.новости-текст
{
	/* Часть окна должна находиться над кнопкой */
	min-width: 15em;
	max-width: 42em;
	max-height: calc(100vh - 40rem * 2 - 8rem * 2 - 10rem * 2);
	overflow: auto;
	white-space: normal;
	-moz-user-select: text;
}
.новости-текст > h4
{
	color: rgb({{сЦветЗаголовка}});
}
.новости-текст > h4,
.новости-текст > p
{
	margin: 1em 0;
}
.новости-текст > h4:first-of-type,
.новости-текст > p:last-of-type
{
	margin: 0;
}
.новости-текст > hr:first-child
{
	display: none;
}
.новости-текст b
{
	font-weight: inherit;
	color: rgb({{сЦветЗаголовка}});
}
#переключитьновости
{
	fill: rgb({{сЦветВыделения}});
}
.непрочитано:not(:hover) > svg
{
	transform-origin: 50% 10%;
	animation: переключитьновости 13s linear .5s infinite;
}
/*
 * Chrome 62, Firefox 57: Если родительский элемент скрыт стилями visibility:hidden
 * и opacity:0, то infinite анимация не вызывает перерисовку, но продолжает рассчитываться,
 * немного нагружая процессор.
 */
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-открытоеокно]) .непрочитано > svg
{
	animation-play-state: paused;
}
@keyframes переключитьновости
{
	0.38%{transform:rotate(30deg)}1.15%{transform:rotate(-30deg)}1.92%{transform:rotate(30deg)}2.69%{transform:rotate(-30deg)}3.46%{transform:rotate(30deg)}4.23%{transform:rotate(-30deg)}5.00%{transform:rotate(30deg)}5.77%{transform:rotate(-30deg)}6.54%{transform:rotate(30deg)}7.31%{transform:rotate(-30deg)}8.08%{transform:rotate(30deg)}8.85%{transform:rotate(-30deg)}9.62%{transform:rotate(30deg)}10.38%{transform:rotate(-30deg)}11.15%{transform:rotate(30deg)}11.92%{transform:rotate(-30deg)}12.69%{transform:rotate(30deg)}13.46%{transform:rotate(-30deg)}14.23%{transform:rotate(30deg)}15.00%{transform:rotate(-30deg)}15.77%{transform:rotate(30deg)}16.54%{transform:rotate(-30deg)}17.31%{transform:rotate(30deg)}18.08%{transform:rotate(-30deg)}18.85%{transform:rotate(30deg)}19.62%{transform:rotate(-30deg)}20.38%{transform:rotate(30deg)}21.15%{transform:rotate(-30deg)}21.92%{transform:rotate(30deg)}22.69%{transform:rotate(-30deg)}23.08%{transform:none}
}

/*************************************/
/*	СТАТИСТИКА
/*************************************/

#статистика
{
	position: absolute;
	top: 40rem;
	left: 0;
	padding: .5em;
	font: 12rem/16rem Arial, "Helvetica Neue", Helvetica, sans-serif;
	max-width: 100%;
	overflow: auto;
	z-index: 1;
	cursor: move;
	color: #fff;
	/*
	 * Firefox 53: text-shadow очень сильно нагружает процессор.
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=1357692
	 */
	text-shadow: none;
	background: rgba(0, 0, 0, .6);
}
#статистика.js-тащилка-элемент
{
	z-index: 10;
	outline: 1rem solid hsl(210, 30%, 40%);
}
#статистика:not(.js-тащилка-элемент):hover
{
	background: rgba(0, 0, 0, 1);
}
#статистика:not(.js-тащилка-элемент):not(:hover) .статистика-подробно
{
	display: none;
}
.статистика-символ
{
	font: 1.2em/1 Calibri, Arial, sans-serif;
	color: #b7b7b7;
}
#статистика > table
{
	border-spacing: 0;
}
#статистика > table > tbody > tr > th
{
	border-right: 1rem solid #777;
	padding: 0 .5em 0 0;
	font: inherit;
	text-align: right;
	color: hsl(195, 80%, 90%);
}
#статистика > table > tbody > tr > td
{
	padding: 0;
}
#статистика > table > tbody > tr > th + td
{
	padding-left: .5em;
}
.статистика-выделить
{
	font-weight: bold;
	color: #FF6;
}
.статистика-анализ
{
	border-spacing: 1rem 0;
	text-align: right;
}
.статистика-анализ td
{
	border: 1rem solid transparent;
	padding: 0;
}
.статистика-анализ > tbody > tr:not(:last-child) > td
{
	border-bottom: 0;
}
.статистика-анализ > tbody > tr:not(:first-child) > td
{
	border-top: 0;
}
.анализ-минимум,
.анализ-среднее,
.анализ-максимум
{
	/* Arial - 2.1, Tahoma - 2.3, Verdana - 2.5 */
	box-sizing: content-box;
	min-width: 2.3em;
}
.анализ-максимум.анализ-максимум /* specificity */
{
	padding-right: .5em;
}
.анализ-история.анализ-история /* specificity */
{
	border-color: #777;
	padding: 0 2rem;
}
.анализ-история:not(.статистика-подробно)
{
	border-color: #F40;
}
.анализ-история:empty
{
	display: none;
}
