@charset "UTF-8";
body
{
	display: flex;
	font: 15px/1.5 sans-serif;
	color: #fff;
}
.отладка-сообщение
{
	background: #6441A5;
}
.отладка-отзыв
{
	background: linear-gradient(150deg, hsl(214, 70%, 26%) 20em, hsl(214, 60%, 68%)) fixed;
}
.отладка-ошибка
{
	background: hsl(0, 100%, 40%);
}
form
{
	max-width: 62em;
	margin: auto;
	padding: 0 1em;
	text-align: center;
}
#отладка-сообщение,
#отладка-отзыв,
#отладка-ошибка
{
	text-align: justify;
}
a
{
	border-bottom: 1px solid;
	text-decoration: none;
	color: currentColor;
}
.отладка-ссылкакнопка
{
	border-bottom: 1px dashed;
	cursor: pointer;
}
a:hover,
.отладка-ссылкакнопка:hover
{
	color: hsl(60, 100%, 70%);
}
textarea,
input[type="email"]
{
	display: block;
	width: 100%;
	line-height: inherit;
}
textarea[name="отладка-отчет"]
{
	font: 13px/1.5 Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}
input[type="checkbox"]:not(:checked) + [name="отладка-отчет"]
{
	display: none;
}
#отладка-текстсообщения
{
	white-space: pre-wrap;
}
button[type="submit"]
{
	min-width: 15em;
	margin-right: 1em;
}
::selection,
::selection,
::selection
{
	color: #fff;
	background-color: #1e9628;
	text-shadow: none;
}
