@namespace xlink "http://www.w3.org/1999/xlink";

/*************************************/
/*	ЭЛЕМЕНТЫ УПРАВЛЕНИЯ
/*************************************/

input,
button,
select,
textarea
{
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}
input,
button,
select,
textarea:not([rows]),
.радио
{
	height: 1.7em;
}
input[type="color"],
button
{
	border: 1px solid hsla(0, 0%, 40%, .5);
	border-radius: 3px;
	padding: 0 .5em;
	background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 95%) 50%, hsl(0, 0%, 88%) 50%, hsl(0, 0%, 75%));
	box-shadow: inset 0 0 2px #fff;
}
input[type="color"]:enabled:active,
button:enabled:active
{
	background: linear-gradient(to bottom, hsl(0, 0%, 70%), hsl(0, 0%, 90%) 40%, hsl(0, 0%, 95%));
}
input[type="color"]
{
	padding: 0 3px;
}
input[type="color"]:disabled,
button:disabled,
select:empty
{
	opacity: .4;
}
input[type="text"],
input[type="email"],
select,
textarea
{
	border: 1px solid hsla(0, 0%, 40%, .5);
	border-radius: 0;
	padding: 1px 3px;
	background: #fff;
}
input[type="text"]:disabled,
input[type="email"]:disabled,
select:disabled,
textarea:disabled
{
	border-color: hsla(0, 0%, 60%, .5);
	color: hsl(0, 0%, 40%);
	background: hsl(0, 0%, 95%);
}
.радио
{
	display: inline-block;
	width: 14px;
	margin: 0 .4em 0 0;
	background: url("player.svg#radio0") center / contain no-repeat;
}
input:checked + .радио
{
	background-image: url("player.svg#radio1");
}
.радио-метка
{
	display: flex;
	align-items: center;
}
select
{
	background-image: url("player.svg#select");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 19px;
	padding-right:   19px;
}
input[type="color"]:enabled:hover,
button:enabled:hover,
select:enabled:not(:empty):hover,
input:enabled:not(:checked) + .радио:hover
{
    filter: drop-shadow(0 0 2px rgba({{сЦветЗаголовка}}, .9));
}
/*
 * <svg><symbol id="s"><path/></symbol></svg>
 * <button><svg><use href="s"/></svg></button>
 * MouseEvent.target:
 *   Firefox 55: button
 *   Chrome 61:  svg или use
 *   Edge 15:    svg или use
 *   Edge 16:    svg или symbol > path
 * Вариант Edge 16 не позволяет использовать один обработчик для нескольких кнопок.
 * Этот стиль заставляет все браузеры возвращать button.
 */
button > svg
{
	pointer-events: none;
}

/*************************************/
/*	М_ТАЩИЛКА
/*************************************/

/*
 * Стиль для body.
 * Перетаскивание будет работать над iframe.
 * Edge 15: Не менять форму курсора во время перетаскивания.
 */
.js-тащилка-страница
{
	pointer-events: none;
}
.js-тащилка-скрыть
{
	visibility: hidden !important;
}

/*************************************/
/*	М_ОКНА
/*************************************/

.окно
{
	position: absolute;
	padding: .84em;
	z-index: 3;
	cursor: auto;
	background: linear-gradient(45deg, transparent 50%, rgba({{сЦветГрадиента}}, .2)),
		rgba({{сЦветФона}}, {{чНепрозрачностьОкна}});
	visibility: hidden;
	transform: scaleY(0);
	transition: transform .15s ease-out, visibility 0s linear .15s;
}
.открыто
{
	visibility: visible;
	transform: scaleY(1);
	transition: transform .15s ease-out;
}

/*************************************/
/*	ЧАТ
/*************************************/

#проигрывательичат
{
	height: 100%;
	display: flex;
	align-items: stretch;
	/* Не показывать прокрутку если перетаскиваемый absolutely positioned element вылезет за пределы проигрывателя */
	overflow: hidden;
	font: bold 12px/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
	white-space: nowrap;
	color: rgb({{сЦветКнопок}});
	fill: currentColor;
	text-shadow: 0 1px 1px #333;
	-webkit-user-select: none;
}
.чатвнизу #проигрывательичат
{
	flex-direction: column;
}
#проигрыватель
{
	flex: 1;
	/* Место для всех элементов панели и окна настроек */
	min-width: 600px;
	/* Место для обеих панелей и окна настроек */
	min-height: 455px;
	position: relative;
	/* Chrome 59 изменяет фон у :fullscreen */
	background: #000;
}
/* Chrome 49 */
#проигрыватель:-webkit-full-screen
{
	width: 100%;
	height: 100%;
}
#проигрыватель:fullscreen
{
	width: 100%;
	height: 100%;
}
#размерчата
{
	/* flex-basis == margin */
	flex: 0 0 16px;
	/* margin-left <= ОТСТУП_ОКНА */
	margin: 0 -8px;
	/* прозрачная часть висит над панелью и чатом */
	z-index: 5;
	cursor: pointer;
	background: linear-gradient(to bottom,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		center 0% / 2px 100% no-repeat;
	opacity: 0;
	transition: opacity .35s ease-out;
}
.чатвнизу #размерчата
{
	/* Оставить место между #размерчата и кнопками панели чтобы не промахнуться */
	margin: -4px 0 -12px;
	background: linear-gradient(to right,
		rgba({{сЦветФона}}, {{чНепрозрачность}}),
		rgba({{сЦветКнопок}}, {{чНепрозрачность}}),
		rgba({{сЦветФона}}, {{чНепрозрачность}}))
		0% 3px / 100% 2px no-repeat;
}
#размерчата:hover,
#размерчата.js-тащилка-элемент
{
	opacity: 1;
}
/* https://bugs.chromium.org/p/chromium/issues/detail?id=700346 */
#размерчата:hover + #чат
{
	pointer-events: none;
}
#чат
{
	min-width: 250px;
	min-height: 260px;
	border: 0;
}
.чатсправа #чат
{
	height: 100%; /* Edge 15 */
}
.чатвнизу #чат
{
	width: 100%;  /* Edge 15 */
}
body:not(.показатьчат) #размерчата,
body:not(.показатьчат) #чат
{
	display: none;
}
/* В полноэкранном режиме чат не виден, значит и кнопка не нужна */
*:-webkit-full-screen #переключитьчат
{
	display: none;
}
*:fullscreen #переключитьчат
{
	display: none;
}

/*************************************/
/*	ПРОИГРЫВАТЕЛЬ
/*************************************/

#проигрывательичат ::selection
{
	color: #000;
	background-color: rgba({{сЦветВыделения}}, .999 /* Chrome 57 */);
	text-shadow: none;
}
/*
 * TODO Показать рамку если топчут клаву. Edge 15 делает это самостоятельно и даже tooltip показывает.
 * https://chromium.googlesource.com/chromium/src/+/master/ui/webui/resources/js/cr/ui/focus_outline_manager.js
 */
#проигрывательичат *:focus
{
	outline: 0;
}
#проигрывательичат hr
{
	border-width: 1px 0 0;
	border-style: solid;
	border-image: linear-gradient(to right, transparent, rgb({{сЦветЗаголовка}}), transparent) 1;
}
#проигрывательичат a
{
	color: inherit;
	/* Edge 15 не поддерживает auto */
	-webkit-user-select: text;
}
#проигрывательичат a:hover
{
	color: rgb({{сЦветВыделения}});
	text-decoration: underline;
}
.метка.метка /* specificity */
{
	color: rgb({{сЦветЗаголовка}});
	fill: currentColor; /* Firefox 55 */
}
#глаз
{
	position: absolute; /* Chrome 59- */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	background: transparent;
}
body[data-состояние="8"]:not(.автоскрытие) #глаз
{
	cursor: pointer;
}
.крутилка
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 8%;
	padding: 11px;
	width: 86px;
	height: 86px;
	background: rgba({{сЦветФона}}, {{чНепрозрачностьОкна}});
	box-shadow: inset 0 10px 10px rgba({{сЦветГрадиента}}, .2), inset 0 -10px 15px hsla(0, 0%, 0%, .25);
	pointer-events: none;
}
#пропуск
{
	position: absolute;
	top: calc(20px + 40px);
	right: calc(20px + 40px);
	border: 2px solid hsla(0, 0%, 100%, .8);
	border-radius: 8%;
	padding: 7px;
	width: 64px;
	height: 64px;
	fill: hsl(0, 0%, 100%);
	background: hsl(0, 100%, 50%);
	box-shadow: 0 0 10px hsla(0, 0%, 0%, .4);
	pointer-events: none;
	display: none;
	animation: пропуск .5s linear;
}
@keyframes пропуск
{
	from {transform: scale(2.0)}
	to   {transform: scale(1.0)}
}
.панель
{
	position: absolute;
	left: 0;
	right: 0;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 15px;
	z-index: 2;
	cursor: auto;
	font-size: 15px;
	background: linear-gradient(to right,
		rgba({{сЦветГрадиента}},  0) 10%,
		rgba({{сЦветГрадиента}}, .2) 40%,
		rgba({{сЦветГрадиента}}, .2) 60%,
		rgba({{сЦветГрадиента}},  0) 90%),
		rgba({{сЦветФона}}, {{чНепрозрачность}});
	transition: opacity .3s ease-out;
}
.безанимации .панель
{
	transition: none !important;
}
.верхняя
{
	top: 0;
}
.нижняя
{
	bottom: 0;
}
.элементпанели
{
	height: 24px;
	line-height: 24px;
	margin: 0 15px 0 0;
}
.элементпанели > a
{
	text-decoration: none;
}
.можнотыкать:enabled:hover
{
	cursor: pointer;
	-webkit-filter: drop-shadow(0 0 2px rgba({{сЦветКнопок}}, .8));
	        filter: drop-shadow(0 0 2px rgba({{сЦветКнопок}}, .8));
}
.группаэлементов
{
	flex: 0 1.8 60px;
	min-width: 20px;
}
.кнопка,
.кнопка > svg,
.значок,
.значок > svg
{
	width:  24px;
	height: 24px;
}
.кнопка
{
	flex: none;
	border: 0;
	border-radius: 0;
	padding: 0;
	color: inherit;
	background: transparent;
	box-shadow: none;
}
.кнопка > svg
{
	transition: transform .3s;
}
.кнопка:enabled:active
{
	background: transparent;
}
/* Применить к svg, чтобы можно было нажимать на края кнопки */
.кнопка:enabled:active > svg
{
	transform: scale(.85, .85);
	transition-duration: .1s;
}
.кнопка.нескрывать:disabled
{
	opacity: 1;
}
#названиетрансляции,
#названиеигры
{
	overflow: hidden;
	text-overflow: ellipsis;
}
#названиетрансляции
{
	flex-grow: 1;
	min-width: 4em;
}
#названиеигры
{
	min-width: 6em;
}
#громкость
{
	flex: 0 .9 120px;
	min-width: 60px;
	padding: 0;
	color: inherit;
	background: transparent;
}
#громкость::-webkit-slider-runnable-track
{
	height: 6px;
	border: 0;
	border-radius: 1px;
	background: currentColor;
}
#громкость::-webkit-slider-thumb
{
	-webkit-appearance: none;
	width: 8px;
	height: 18px;
	margin-top: -6px;
	border: 0;
	border-radius: 2px;
	background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .25)), currentColor;
	box-shadow: 0 0 2px hsla(0, 0%, 0%, .7);
}
.позиция
{
	flex: 1;
}
#скорость
{
	flex: none; /* Firefox 53 */
	border: 0;
	background-color: rgb({{сЦветКнопок}});
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]) #проигрыватель
{
	cursor: none;
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-открытоеокно]) .панель
{
	/* transition мешает менять cursor */
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease-out, visibility 0s linear .3s;
}
body[data-состояние="6"]:not(.проверкацвета) .крутилка,
body[data-состояние="8"]:not(.проверкацвета) .крутилка,
body.проверкацвета .крутилка > use:not([xlink|href="#svg-settings"]),
body:not(.проверкацвета) .крутилка > use[xlink|href="#svg-settings"],
body:not([data-состояние="3"]) .крутилка > use[xlink|href="#svg-end"],
body:not([data-состояние="1"]):not([data-состояние="2"]):not([data-состояние="4"]):not([data-состояние="5"]) .крутилка > use[xlink|href="#svg-buffering"],
body:not([data-состояние="7"]) .крутилка > use[xlink|href="#svg-stop"],
body[data-состояние="8"] .позиция,
body:not([data-состояние="8"]) #скорость,
body:not([data-состояние="8"]) #переключитьпаузу,
body:not([data-состояние="8"]) #шкала
{
	display: none;
}
body.проверкацветафон #глаз
{
	display: none;
}
body.проверкацветафон #проигрыватель
{
	/* Шахматка не подходит: а) От нее глаза вытекают. б) В изображении должен преобладать белый цвет. */
	background:
		repeating-linear-gradient(to right,  #fff 0, #fff 5px, transparent 5px, transparent 10px),
		repeating-linear-gradient(to bottom, #fff 0, #fff 5px, transparent 5px, transparent 10px),
		#000;
}

/*************************************/
/*	ШКАЛА
/*************************************/

#шкала
{
	flex: 1 1 400px;
	min-width: 150px;
	height: 14px;
	cursor: pointer;
	background: #000;
}
#шкала-просмотрено
{
	background: currentColor;
	height: 100%;
	transform-origin: 0;
}

/*************************************/
/*	КАНАЛ
/*************************************/

.канал
{
	right: 8px;
	top: calc(40px + 8px);
	max-width: 38em;
	-webkit-user-select: text;
}
.канал table
{
	border-spacing: 0;
}
.канал th
{
	width: 1px;
	padding-right: 1em;
	font: inherit;
	text-align: right;
	vertical-align: top;
}
.канал td
{
	white-space: normal;
	vertical-align: middle;
}
.канал hr
{
	margin: .5em 0;
}
th.канал-аватар, /* specificity */
#зритель-подписка > th
{
	vertical-align: middle;
}
.канал-аватар > img
{
	width:  80px;
	height: 80px;
}
#канал-имя
{
	font-size: 1.2em;
	font-weight: bolder;
	/* Убрать пустое место сверху */
	line-height: 1;
	margin-bottom: .4em;
}
#зритель-подписаться,
#зритель-отписаться
{
	min-width: 100%;
}
.канал .кнопка
{
	vertical-align: middle;
}
#зритель-уведомлять
{
	opacity: .5;
}
.обновляется
{
	pointer-events: none;
}
body.авторизован .зритель-неавторизован,
body:not(.авторизован) #зритель-имя,
body:not(.авторизован) #зритель-подписка,
#зритель-подписка[data-подписка="0"],
#зритель-подписка:not([data-подписка="1"]) #зритель-подписаться,
#зритель-подписка:not([data-подписка="2"]):not([data-подписка="3"]) #зритель-отписаться,
#зритель-подписка:not([data-подписка="2"]) #зритель-уведомлять,
#зритель-подписка:not([data-подписка="3"]) #зритель-неуведомлять
{
	display: none;
}

/*************************************/
/*	НАСТРОЙКИ
/*************************************/

.настройки
{
	right: 8px;
	bottom: calc(40px + 8px);
	line-height: 16px;
}
.заголовокнастроек
{
	display: block;
	margin-bottom: .5em;
	border-radius: .2em;
	padding: .4em;
	color: #000;
	text-shadow: 0 1px 1px rgba(50, 50, 50, .15);
	background: rgb({{сЦветКнопок}});
	cursor: pointer;
}
input:checked + .заголовокнастроек
{
	cursor: default;
}
.группанастроек
{
	height: 17.3em;
	overflow: hidden;
	transition: height .3s cubic-bezier(.22, .61, .36, 1);
}
input:not(:checked) + .заголовокнастроек + .группанастроек
{
	height: 0;
	visibility: hidden;
	transition: height .3s cubic-bezier(.22, .61, .36, 1), visibility 0s linear .3s;
}
.настройка
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: .3em 0 .7em;
}
.имянастройки
{
	flex: 1;
	margin-right: 1.5em;
	color: rgb({{сЦветЗаголовка}});
}
.данныенастройки
{
	display: flex;
	width: 11em;
	color: #fff;
}
.данныенастройки-2 > label:first-of-type
{
	min-width: 45%;
}
.данныенастройки-3
{
	justify-content: space-between;
}
.данныенастройки input,
.данныенастройки button,
.данныенастройки select
{
	flex: 1;
	min-width: 0;
}
.выборцвета
{
	display: flex;
}
.кнопкивыборацвета
{
	flex: 1;
}
.данныенастройки .вводчисла-число
{
	flex: 1.5;
	text-align: right;
	border-left: 0;
	border-right: 0;
	background: linear-gradient(to right, #eee, #fff 10%, #fff 90%, #eee);
}
.данныенастройки .вводчисла-минус
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.данныенастройки .вводчисла-плюс
{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.настройки hr
{
	margin: calc(.84em - .5em + 2px) 0 .84em;
}
#переключитьстатистику,
#открытьсправку
{
	float: left;
}
#оставитьотзыв,
#поддержать
{
	float: right;
}
#открытьсправку,
#оставитьотзыв,
#поддержать
{
	margin-left: .5em;
}
#поддержать
{
	font-weight: bold;
}

/*************************************/
/*	НОВОСТИ
/*************************************/

/* Ширина <= min(.новости:max-width, .новости-текст:max-width). С высотой такой фокус не проходит. */
.новости
{
	max-width: calc(100% - 8px * 2);
	right: 8px;
	bottom: calc(40px + 8px);
}
.новости-текст
{
	/* Часть окна должна находиться над кнопкой */
	min-width: 15em;
	max-width: 40em;
	max-height: calc(100vh - 40px * 2 - 8px * 2 - .84em * 2);
	overflow: auto;
	white-space: normal;
	-webkit-user-select: text;
}
.новости-текст h4
{
	color: rgb({{сЦветЗаголовка}});
}
.новости-текст h4,
.новости-текст p
{
	margin: 1em 0;
}
.новости-текст > article:first-of-type > h4,
.новости-текст > article:last-of-type > p:last-of-type
{
	margin: 0;
}
.новости-текст b
{
	font-weight: inherit;
	color: rgb({{сЦветЗаголовка}});
}
template + hr
{
	display: none;
}
#переключитьновости
{
	fill: rgb({{сЦветВыделения}});
}
.непрочитано:not(:hover) > svg
{
	transform-origin: 50% 10%;
	animation: переключитьновости 13s linear .5s infinite;
}
@keyframes переключитьновости
{
	0.38%{transform:rotate(30deg)}1.15%{transform:rotate(-30deg)}1.92%{transform:rotate(30deg)}2.69%{transform:rotate(-30deg)}3.46%{transform:rotate(30deg)}4.23%{transform:rotate(-30deg)}5.00%{transform:rotate(30deg)}5.77%{transform:rotate(-30deg)}6.54%{transform:rotate(30deg)}7.31%{transform:rotate(-30deg)}8.08%{transform:rotate(30deg)}8.85%{transform:rotate(-30deg)}9.62%{transform:rotate(30deg)}10.38%{transform:rotate(-30deg)}11.15%{transform:rotate(30deg)}11.92%{transform:rotate(-30deg)}12.69%{transform:rotate(30deg)}13.46%{transform:rotate(-30deg)}14.23%{transform:rotate(30deg)}15.00%{transform:rotate(-30deg)}15.77%{transform:rotate(30deg)}16.54%{transform:rotate(-30deg)}17.31%{transform:rotate(30deg)}18.08%{transform:rotate(-30deg)}18.85%{transform:rotate(30deg)}19.62%{transform:rotate(-30deg)}20.38%{transform:rotate(30deg)}21.15%{transform:rotate(-30deg)}21.92%{transform:rotate(30deg)}22.69%{transform:rotate(-30deg)}23.08%{transform:none}
}

/*************************************/
/*	СТАТИСТИКА
/*************************************/

#статистика
{
	position: absolute;
	top: 40px;
	left: 0;
	padding: .5em;
	font: 12px/16px Arial, "Helvetica Neue", Helvetica, sans-serif;
	max-width: 100%;
	overflow: auto;
	z-index: 1;
	cursor: move;
	color: #fff;
	/*
	 * Firefox 53: text-shadow очень сильно нагружает процессор.
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=1357692
	 */
	text-shadow: none;
	background: rgba(0, 0, 0, .6);
}
#статистика.js-тащилка-элемент
{
	z-index: 10;
	outline: 1px solid hsl(210, 30%, 40%);
}
#статистика:not(.js-тащилка-элемент):hover
{
	background: rgba(0, 0, 0, 1);
}
#статистика:not(.js-тащилка-элемент):not(:hover) .статистика-подробно
{
	display: none;
}
.статистика-символ
{
	font: 1.2em/1 Calibri, Arial, sans-serif;
	color: #b7b7b7;
}
#статистика > table
{
	border-spacing: 0;
}
#статистика > table > tbody > tr > th
{
	border-right: 1px solid #777;
	padding: 0 .5em 0 0;
	font: inherit;
	text-align: right;
	color: hsl(195, 80%, 90%);
}
#статистика > table > tbody > tr > td
{
	padding: 0;
}
#статистика > table > tbody > tr > th + td
{
	padding-left: .5em;
}
.статистика-выделить
{
	font-weight: bold;
	color: #FF6;
}
.статистика-анализ
{
	border-spacing: 1px 0;
	text-align: right;
}
.статистика-анализ td
{
	border: 1px solid transparent;
	padding: 0;
}
.статистика-анализ > tbody > tr:not(:last-child) > td
{
	border-bottom: 0;
}
.статистика-анализ > tbody > tr:not(:first-child) > td
{
	border-top: 0;
}
.анализ-минимум,
.анализ-среднее,
.анализ-максимум
{
	/* Arial - 2.1, Tahoma - 2.3, Verdana - 2.5 */
	box-sizing: content-box;
	min-width: 2.3em;
}
.анализ-максимум.анализ-максимум /* specificity */
{
	padding-right: .5em;
}
.анализ-история.анализ-история /* specificity */
{
	border-color: #777;
	padding: 0 2px;
}
.анализ-история:not(.статистика-подробно)
{
	border-color: #F40;
}
.анализ-история:empty
{
	display: none;
}
