@charset "UTF-8";
/* Включаем без учета ширины если не влезает выбор bits */
@media (max-height: 35em), (max-height: 42em) and (min-width: 32em)
{
	/**
	 * Уменьшить вертикальные поля заголовка со списком комнат.
	 */
	html .room-selector__header
	{
		height: 3rem;
	}
	html .room-selector__open-header-wrapper
	{
		min-height: 3rem;
	}
	html .room-picker
	{
		top: calc(3rem - 1px);
		max-width: 40rem;
	}

	/**
	 * Поле для ввода сообщения.
	 */
	.tw-textarea[data-a-target="chat-input"]
	{
		/* Высота равна высоте кнопок */
		height: calc(2.8rem + 2px);
		/* Вертикальная полоса прокрутки не перекроет кнопку справа */ 
		overflow: hidden;
		padding-left: .5rem;
		line-height: 1.4;
	}
	/**
	 * Исправляем косяк Twitch: ширину кнопок нужно частично задавать в пикселах.
	 */
	.tw-textarea[data-a-target="chat-input"][style*="padding-right: 3rem"]
	{
		padding-right: calc((2px + 1.2rem + 16px) * 1) !important;
	}
	.tw-textarea[data-a-target="chat-input"][style*="padding-right: 6rem"]
	{
		padding-right: calc((2px + 1.2rem + 16px) * 2) !important;
	}
	.tw-textarea[data-a-target="chat-input"][style*="padding-right: 9rem"]
	{
		padding-right: calc((2px + 1.2rem + 16px) * 3) !important;
	}

	/**
	 * Кнопки, которые были под вводом сообщения, будут находиться справа от него.
	 */
	html .chat-input
	{
		display: flex;
		flex: none;
		padding-bottom: .4rem !important;
	}
	.chat-input > .tw-relative.tw-z-default
	{
		flex: 1;
	}
	html .chat-input__buttons-container
	{
		margin-top: 0 !important;
	}
	.tw-button[data-a-target="chat-send-button"]
	{
		order: -1;
		margin-left: .8rem;
	}

	/**
	 * Окна.
	 */
	.tw-balloon[data-a-target="chat-settings-balloon"],
	.tw-balloon[data-a-target="emote-picker"],
	html .t-bits-card,
	html .bits-card-loading,
	html .bits-buy-card
	{
		/* Использовать место, занимаемое заголовком со списком комнат */
		position: fixed !important;
		left: auto !important;
		/* Не прислонять окно вплотную к границе экрана, чтобы пользователь
		понял, что ни одна часть окна не вышла за пределы экрана. */
		right: .2rem !important;
		/* Не перекрывать кнопки, которые закрывают окно */
		bottom: calc(.4rem + (2.8rem + 2px)) !important;
		margin: 0 !important;
	}

	/**
	 * Настройки чата.
	 */
	.chat-settings
	{
		max-height: calc(100vh - .4rem - (2.8rem + 2px) - 2px - .2rem) !important;
	}
	html .chat-settings__content
	{
		padding: 1rem 1.5rem !important;
	}

	/**
	 * Список смайликов.
	 */
	.tw-balloon[data-a-target="emote-picker"]
	{
		width: 80rem;
	}
	.emote-picker__tab-content
	{
		max-height: calc(100vh - .4rem - (2.8rem + 2px) - 3rem - 2px - .2rem) !important; /* important для FFZ */
	}
	html .emote-picker__content-block
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.emote-picker__content-block:first-child
	{
		padding-top: 0 !important;
	}
	/* Оставить поле у последнего блока, чтобы влезла всплывающая подсказка
	с названием смайлика. Подсказка всегда внизу - это недоработка Twitch. */
	.emote-picker__content-block.tw-pd-b-2:not(:last-child)
	{
		padding-bottom: 1rem !important;
	}
	/**
	 * Переместить поиск смайликов в строку с вкладками.
	 */
	.emote-picker__controls-container
	{
		display: flex;
	}
	.emote-picker__tabs-container
	{
		flex: 1;
	}
	/* html для FFZ */
	html .emote-picker__controls-container > .tw-border-t.tw-pd-1
	{
		order: 1;
		display: flex;
		align-items: center;
		padding: 0 .2rem 0 0 !important;
	}
	.emote-picker__controls-container .tw-input
	{
		width: 12em;
		padding: .2rem .8rem;
	}

	/**
	 * Выбор bits.
	 */
	html .t-bits-card
	{
		width: 150rem !important;
		max-width: calc(100vw - .2rem * 2);
	}
	html .bits-card-loading
	{
		width: 40rem !important;
	}
	/* Значение взято с запасом */
	@media (max-height: 27em)
	{
		html .cheermote-prefix-selector
		{
			max-height: 11rem;
		}
		html .cheermote-prefix-selector,
		html .cheermote-tier-selector
		{
			height: auto;
			min-height: 0;
		}
		html .cheermote-tier-intro,
		html .pending-cheer
		{
			min-height: 0;
		}
		html .cheermote-tier-selector__back-button
		{
			padding-top: 0;
		}
		html .t-bits-card__contents h4
		{
			margin-bottom: .5rem;
		}
		.t-bits-card .tw-pd-1,
		.t-bits-card .tw-pd-2,
		.t-bits-card .tw-pd-3
		{
			padding-top: .5rem !important;
			padding-bottom: .5rem !important;
		}
		.t-bits-card .tw-pd-t-1,
		.t-bits-card .tw-pd-t-2,
		.t-bits-card .tw-pd-t-3,
		html .cheermote-prefix-selector__cheermotes,
		html .cheermote-tier-selector__cheermotes
		{
			padding-top: .5rem !important;
		}
		.t-bits-card .tw-pd-b-1,
		.t-bits-card .tw-pd-b-2,
		.t-bits-card .tw-pd-b-3
		{
			padding-bottom: .5rem !important;
		}
		.t-bits-card .tw-mg-1,
		.t-bits-card .tw-mg-2,
		.t-bits-card .tw-mg-3,
		.t-bits-card .tw-mg-t-1,
		.t-bits-card .tw-mg-t-2,
		.t-bits-card .tw-mg-t-3,
		.t-bits-card .tw-mg-b-1,
		.t-bits-card .tw-mg-b-2,
		.t-bits-card .tw-mg-b-3
		{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}

	/**
	 * Покупка bits.
	 */
	html .bits-buy-card
	{
		width: 80rem !important;
		max-width: calc(100vw - .2rem * 2);
		min-height: 0;
		max-height: calc(100vh - .4rem - (2.8rem + 2px) - .2rem);
	}
	.bits-buy-card[data-a-target="bits-buy-card-loading"]
	{
		min-height: 18rem;
	}
	html .bits-buy-card-offers__scroll-view
	{
		height: 100%;
	}

	/**
	 * Список зрителей.
	 */
	html .chat-viewers__header
	{
		height: 3rem;
	}
	html .chat-viewers__filter
	{
		margin-top: .5rem !important;
		margin-bottom: .5rem !important;
	}
	.chat-viewers__filter .tw-input
	{
		padding-top: .2rem;
		padding-bottom: .2rem;
	}
	.chat-viewers-list.tw-pd-b-2
	{
		padding-bottom: 1rem !important;
	}

	/**
	 * Список пожертвований. Будет висеть в правом верхнем углу, не отнимая место у сообщений.
	 */
	html .pinned-cheer-v2
	{
		position: absolute;
		/* Не перекрывать вертикальную полосу прокрутки */
		right: 12px;
		top: 0;
		max-height: calc(100vh - .4rem - (2.8rem + 2px) - 3rem);
		height: auto;
		display: flex;
	}
	html .pinned-cheer-v2-header__users
	{
		width: auto;
	}
	html .pinned-cheer-v2-header--arrow
	{
		position: static !important;
		vertical-align: top;
	}
	.pinned-cheer-v2 > * > .tw-c-background.tw-pd-t-1
	{
		height: 100%;
		display: flex;
		flex-flow: column;
	}
	html .bits-leaderboard-expanded__scrollable
	{
		max-height: none;
	}
	/* Оставить место для bits-leaderboard-expanded__arrow */
	.pinned-cheer-v2 > * > * > .tw-align-items-center
	{
		margin-left: 3.8rem;
		margin-right: 3.8rem;
	}
	@media (max-width: 47em)
	{
		/* Если ширины чата недостаточно, то список пожертвований может перекрывать сообщения.
		Раскрывать список по наведению мыши или нажатию пальца на inned-cheer-v2-header--arrow. */
		.pinned-cheer-v2-header:not(:hover) > .pinned-cheer-v2-header__users
		{
			max-width: 0;
			overflow: hidden;
		}
	}

	/**
	 * Правила чата. Не тратить время на добавление вертикальной прокрутки
	 * правил, здоровые портянки никто в здравом уме читать не станет.
	 */
	html .chat-rules
	{
		position: fixed !important;
		bottom: .4rem;
		z-index: 5;
	}
	.chat-rules > .tw-mg-b-1
	{
		margin-bottom: 0 !important;
	}

	/**
	 * Меню в карточке откроется вверх и не вылезет за нижнюю границу экрана.
	 */
	.viewer-card__actions > div > .tw-align-right .tw-balloon--down
	{
		top: auto;
		bottom: 100%;
		margin-bottom: 8px;
	}
	.viewer-card__actions > div > .tw-align-right .tw-balloon--down > .tw-balloon__tail
	{
		top: 100%;
		margin-top: -1px;
	}
	.viewer-card__actions > div > .tw-align-right .tw-balloon--down > .tw-balloon__tail .tw-balloon__tail-symbol
	{
		top: auto;
		bottom: 8px;
	}

	/* Исправляем косяк Twitch: карточку не видно в Chrome 49 */
	.chat-room__viewer-card,
	/* Исправляем косяк Twitch: элемент смещен по вертикали в списке зрителей в Chrome 49 */
	.chat-viewers__header > .tw-absolute
	{
		top: 0;
	}

	.chat-list__lines .tw-full-height.tw-pd-b-1[role="log"]
	{
		padding-bottom: 0 !important;
	}

	/**
	 * BetterTTV
	 */
	#emote-menu-for-twitch
	{
		max-width: 120rem;
		left: auto !important;
		right: 1px;
	}
}
